<section id="services" class="section services py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-content mb-4">
          <p class="mb-2">Get professional support for modern tech solutions</p>
          <h2 class="base-color">My Services</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 text-left">
        <div class="services-item box-hover-border">
          <div class="float-left mt-lg-1 d-inline-block services-icon">
            <i class="lni-brush-alt size-md base-color"></i>
          </div>
          <div class="services-content">
            <h5 class="mb-3">UI/UX Design</h5>
            <p class="text-muted mb-0">Figma / Adobe XD / Canva</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 text-left">
        <div class="services-item box-hover-border">
          <div class="float-left mt-lg-1 d-inline-block services-icon">
            <i class="lni lni-bootstrap size-md base-color"></i>
          </div>
          <div class="services-content">
            <h5 class="mb-3">Responsive Web Development</h5>
            <p class="text-muted mb-0">HTML / CSS / Bootstrap / Tailwind</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 text-left">
        <div class="services-item box-hover-border">
          <div class="float-left mt-lg-1 d-inline-block services-icon">
            <i class="lni lni-cloud size-md base-color"></i>
          </div>
          <div class="services-content">
            <h5 class="mb-3">Cloud Integration</h5>
            <p class="text-muted mb-0">Firebase / AWS / Vercel</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 text-left">
        <div class="services-item box-hover-border">
          <div class="float-left mt-lg-1 d-inline-block services-icon">
            <i class="lni-mobile size-md base-color"></i>
          </div>
          <div class="services-content">
            <h5 class="mb-2">Cross-Platform Development</h5>
            <p class="text-muted mb-0">React Native / Flutter / Ionic</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 text-left">
        <div class="services-item box-hover-border">
          <div class="float-left mt-lg-1 d-inline-block services-icon">
            <i class="lni lni-layers size-md base-color"></i>
          </div>
          <div class="services-content">
            <h5 class="mb-3">Web Frameworks</h5>
            <p class="text-muted mb-0">Laravel / Node.js / React / Next.js / PHP</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 text-left">
        <div class="services-item box-hover-border">
          <div class="float-left mt-lg-1 d-inline-block services-icon">
            <i class="lni lni-cog size-md base-color"></i>
          </div>
          <div class="services-content">
            <h5 class="mb-5">DevOps & Deployment</h5>
            <p class="text-muted mb-0">GitHub / CI-CD / Docker / Netlify / Vercel</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
